<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
      <div class='tab container'>
      <%if current_user%>
      <h3><%=link_to 'Bulletin board', root_path,class: 'board'%></h3>
      <div class= 'tab1'>
      <%=link_to 'トピック一覧',root_path,class:'topic-list'%>
      <%=link_to 'プロフィール',user_path(session[:user_id]),class:'profile'%>
      <%=link_to 'ユーザー一覧', users_path,class:'user-list'%>
      <%=link_to 'ログアウト', logout_path, method: :delete,class:'logout'%>
      </div>
      </div>
      <%else%>
      <h3><%=link_to 'Bulletin board', login_path,class: 'board'%></h3>
      <div class='tab1'>

      <%=link_to 'ログイン', login_path,class:'login'%>
      <%=link_to '新規登録', new_user_path,class:'new_user'%>
      <%end%>
      </div>
      
    </div>

    
  </header>

    <div class="flash time-limit">

      <% flash.each do |message_type, message|%>
          <div class= "alert alert-<%=message_type%>"><%=message%></div>
      <%end%>
    </div>  

  <body>
    
    
    <%if current_user%>
    <p >ようこそ<span class='current_user'><%="#{current_user.name}"%></span>さん</p>
    <%end%>
    <%= yield %>
  </body>
</html>
